// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamOperatorRuntime from "../../../index.js";

export declare namespace AssetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Universal physical-hardware master — vehicles, drones, robots, trailers, containers, equipment. Kind-discriminated.
 */
export class AssetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AssetsClient.Options>;

    constructor(options: AssetsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the assets the authenticated operator is currently assigned to operate — and only those. Deny-by-default: an operator with no active assignment sees an empty list. Resolved through the narrow `operate` (assigned-operator) relation, never the owning-org `view` surface, so it never exposes a whole tenant. Ordered by `created_at` descending; bidirectional cursor pagination (`starting_after` / `ending_before`).
     *
     * @param {NizamOperatorRuntime.ListMyAssetsRequest} request
     * @param {AssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.ForbiddenError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.assets.listMyAssets({
     *         starting_after: "Y3Vyc29yX25leHRfMDFKNVE=",
     *         ending_before: "Y3Vyc29yX25leHRfMDFKNVE="
     *     })
     */
    public listMyAssets(
        request: NizamOperatorRuntime.ListMyAssetsRequest = {},
        requestOptions?: AssetsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.OperatorAsset> {
        return core.HttpResponsePromise.fromPromise(this.__listMyAssets(request, requestOptions));
    }

    private async __listMyAssets(
        request: NizamOperatorRuntime.ListMyAssetsRequest = {},
        requestOptions?: AssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.OperatorAsset>> {
        const { limit, starting_after: startingAfter, ending_before: endingBefore } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/me/assets",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamOperatorRuntime.OperatorAsset, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamOperatorRuntime.ForbiddenError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/me/assets");
    }

    /**
     * Returns one asset the authenticated operator is assigned to operate. Resolved through the `operate` (assigned-operator) relation only — never the owning-org `view` surface. An asset the operator is not assigned to (or that does not exist) returns 404, indistinguishable from a missing id so the endpoint can't be used to probe for assets.
     *
     * @param {NizamOperatorRuntime.GetMyAssetRequest} request
     * @param {AssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.ForbiddenError}
     * @throws {@link NizamOperatorRuntime.NotFoundError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.assets.getMyAsset({
     *         id: "00000000-0000-0000-0000-000000000000"
     *     })
     */
    public getMyAsset(
        request: NizamOperatorRuntime.GetMyAssetRequest,
        requestOptions?: AssetsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.OperatorAsset> {
        return core.HttpResponsePromise.fromPromise(this.__getMyAsset(request, requestOptions));
    }

    private async __getMyAsset(
        request: NizamOperatorRuntime.GetMyAssetRequest,
        requestOptions?: AssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.OperatorAsset>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                `v1/me/assets/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamOperatorRuntime.OperatorAsset, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamOperatorRuntime.ForbiddenError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamOperatorRuntime.NotFoundError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/me/assets/{id}");
    }
}
