// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamDashboard from "../../../index.js";

export declare namespace InvitesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Org-admin invites and recipient acceptance.
 */
export class InvitesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InvitesClient.Options>;

    constructor(options: InvitesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Persists a pending invite and emails the recipient with the accept link.
     *
     * @param {NizamDashboard.CreateInviteRequest} request
     * @param {InvitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.UnprocessableEntityError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.invites.createInvite({
     *         organization_id: "8f55f0eb-7d3a-4f2c-9c8d-a1b2c3d4e5f6",
     *         email: "ali@nizam.ai",
     *         role: "super_admin",
     *         ttl_days: 7
     *     })
     */
    public createInvite(
        request: NizamDashboard.CreateInviteRequest,
        requestOptions?: InvitesClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.Invite> {
        return core.HttpResponsePromise.fromPromise(this.__createInvite(request, requestOptions));
    }

    private async __createInvite(
        request: NizamDashboard.CreateInviteRequest,
        requestOptions?: InvitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.Invite>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/invites",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.Invite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamDashboard.UnprocessableEntityError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/invites");
    }

    /**
     * Validates the token, links the calling user to the organization, and marks the invite accepted.
     *
     * @param {NizamDashboard.AcceptInviteRequest} request
     * @param {InvitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.NotFoundError}
     * @throws {@link NizamDashboard.ConflictError}
     * @throws {@link NizamDashboard.GoneError}
     * @throws {@link NizamDashboard.UnprocessableEntityError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.invites.acceptInvite({
     *         token: "5f8d2c4e6a1b3d7f9c0e2a4b6d8c0e2a4b6d8c0e2a4b6d8c"
     *     })
     */
    public acceptInvite(
        request: NizamDashboard.AcceptInviteRequest,
        requestOptions?: InvitesClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.Invite> {
        return core.HttpResponsePromise.fromPromise(this.__acceptInvite(request, requestOptions));
    }

    private async __acceptInvite(
        request: NizamDashboard.AcceptInviteRequest,
        requestOptions?: InvitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.Invite>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/invites/accept",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.Invite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamDashboard.NotFoundError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamDashboard.ConflictError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 410:
                    throw new NizamDashboard.GoneError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamDashboard.UnprocessableEntityError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/invites/accept");
    }
}
