// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamCarrier from "../../../index.js";

export declare namespace NotificationPreferencesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The authenticated user's per-kind × channel delivery preferences.
 */
export class NotificationPreferencesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<NotificationPreferencesClient.Options>;

    constructor(options: NotificationPreferencesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The user's explicit per-kind × channel overrides. A (kind, channel) with no row uses the kind's coded default (so an empty list means 'all defaults').
     *
     * @param {NotificationPreferencesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamCarrier.UnauthorizedError}
     * @throws {@link NizamCarrier.ForbiddenError}
     * @throws {@link NizamCarrier.TooManyRequestsError}
     * @throws {@link NizamCarrier.InternalServerError}
     *
     * @example
     *     await client.notificationPreferences.getNotificationPreferences()
     */
    public getNotificationPreferences(
        requestOptions?: NotificationPreferencesClient.RequestOptions,
    ): core.HttpResponsePromise<NizamCarrier.NotificationPreferences> {
        return core.HttpResponsePromise.fromPromise(this.__getNotificationPreferences(requestOptions));
    }

    private async __getNotificationPreferences(
        requestOptions?: NotificationPreferencesClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamCarrier.NotificationPreferences>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamCarrierEnvironment.Production,
                "v1/me/notification-preferences",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamCarrier.NotificationPreferences, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamCarrier.UnauthorizedError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamCarrier.ForbiddenError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamCarrier.TooManyRequestsError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamCarrier.InternalServerError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamCarrierError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/me/notification-preferences",
        );
    }

    /**
     * Upserts the supplied overrides: each item fully declares the desired state of one (kind, channel). Unlisted preferences are untouched. Returns the full resulting set.
     *
     * @param {NizamCarrier.UpdateNotificationPreferences} request
     * @param {NotificationPreferencesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamCarrier.UnauthorizedError}
     * @throws {@link NizamCarrier.ForbiddenError}
     * @throws {@link NizamCarrier.TooManyRequestsError}
     * @throws {@link NizamCarrier.InternalServerError}
     *
     * @example
     *     await client.notificationPreferences.updateNotificationPreferences({
     *         preferences: [{
     *                 kind: "membership.joined",
     *                 channel: "email",
     *                 enabled: false,
     *                 quiet_hours: {
     *                     start: "22:00",
     *                     end: "07:00",
     *                     timezone: "America/Toronto"
     *                 }
     *             }]
     *     })
     */
    public updateNotificationPreferences(
        request: NizamCarrier.UpdateNotificationPreferences = {},
        requestOptions?: NotificationPreferencesClient.RequestOptions,
    ): core.HttpResponsePromise<NizamCarrier.NotificationPreferences> {
        return core.HttpResponsePromise.fromPromise(this.__updateNotificationPreferences(request, requestOptions));
    }

    private async __updateNotificationPreferences(
        request: NizamCarrier.UpdateNotificationPreferences = {},
        requestOptions?: NotificationPreferencesClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamCarrier.NotificationPreferences>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamCarrierEnvironment.Production,
                "v1/me/notification-preferences",
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamCarrier.NotificationPreferences, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamCarrier.UnauthorizedError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamCarrier.ForbiddenError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamCarrier.TooManyRequestsError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamCarrier.InternalServerError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamCarrierError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/me/notification-preferences",
        );
    }
}
