// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamOperatorRuntime from "../../../index.js";

export declare namespace PositionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PositionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PositionsClient.Options>;

    constructor(options: PositionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Exchanges the caller's access token for a short-lived MQTT credential (aud=mqtt) scoped to the caller's own operator. Connect to the broker with username = the operator id and password = the returned token, then publish position pings to the returned topic. The credential expires after `expires_in` seconds; re-mint before then (budget: 30/hour).
     *
     * @param {PositionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.BadRequestError}
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.ForbiddenError}
     * @throws {@link NizamOperatorRuntime.NotFoundError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     * @throws {@link NizamOperatorRuntime.BadGatewayError}
     *
     * @example
     *     await client.positions.mintMqttToken()
     */
    public mintMqttToken(
        requestOptions?: PositionsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.MqttToken> {
        return core.HttpResponsePromise.fromPromise(this.__mintMqttToken(requestOptions));
    }

    private async __mintMqttToken(
        requestOptions?: PositionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.MqttToken>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/me/mqtt-token",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamOperatorRuntime.MqttToken, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamOperatorRuntime.BadRequestError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamOperatorRuntime.ForbiddenError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamOperatorRuntime.NotFoundError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 502:
                    throw new NizamOperatorRuntime.BadGatewayError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/me/mqtt-token");
    }
}
