// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamDashboard from "../../../index.js";

export declare namespace PaymentMethodClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PaymentMethodClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PaymentMethodClient.Options>;

    constructor(options: PaymentMethodClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The payment method renewals will charge — display data only (brand, last four, expiry). `type: none` when nothing is on file yet (a card-less trial/free workspace, or billing disabled).
     *
     * @param {PaymentMethodClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.TooManyRequestsError}
     * @throws {@link NizamDashboard.InternalServerError}
     * @throws {@link NizamDashboard.BadGatewayError}
     *
     * @example
     *     await client.paymentMethod.getPaymentMethod()
     */
    public getPaymentMethod(
        requestOptions?: PaymentMethodClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.PaymentMethod> {
        return core.HttpResponsePromise.fromPromise(this.__getPaymentMethod(requestOptions));
    }

    private async __getPaymentMethod(
        requestOptions?: PaymentMethodClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.PaymentMethod>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/billing/payment-method",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.PaymentMethod, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamDashboard.TooManyRequestsError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 502:
                    throw new NizamDashboard.BadGatewayError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/billing/payment-method");
    }

    /**
     * Makes the confirmed session's payment method the default for future invoices — on the billing customer and on the live subscription when one is provisioned. The session must belong to this organization and be complete, else 409 `payment_method.setup_incomplete`.
     *
     * @param {NizamDashboard.UpdatePaymentMethodRequest} request
     * @param {PaymentMethodClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.ConflictError}
     * @throws {@link NizamDashboard.UnprocessableEntityError}
     * @throws {@link NizamDashboard.TooManyRequestsError}
     * @throws {@link NizamDashboard.InternalServerError}
     * @throws {@link NizamDashboard.BadGatewayError}
     *
     * @example
     *     await client.paymentMethod.updatePaymentMethod({
     *         checkout_session_id: "cs_test_a1b2c3"
     *     })
     */
    public updatePaymentMethod(
        request: NizamDashboard.UpdatePaymentMethodRequest,
        requestOptions?: PaymentMethodClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.PaymentMethod> {
        return core.HttpResponsePromise.fromPromise(this.__updatePaymentMethod(request, requestOptions));
    }

    private async __updatePaymentMethod(
        request: NizamDashboard.UpdatePaymentMethodRequest,
        requestOptions?: PaymentMethodClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.PaymentMethod>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/billing/payment-method",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.PaymentMethod, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamDashboard.ConflictError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamDashboard.UnprocessableEntityError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamDashboard.TooManyRequestsError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 502:
                    throw new NizamDashboard.BadGatewayError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/billing/payment-method");
    }

    /**
     * Mints a payment-method setup session for the organization's billing customer (created on demand) and returns the `client_secret` the embedded payment component confirms. After the confirmation succeeds, apply it with `PUT /v1/billing/payment-method`.
     *
     * @param {NizamDashboard.CreatePaymentMethodSessionRequest} request
     * @param {PaymentMethodClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.BadRequestError}
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.ConflictError}
     * @throws {@link NizamDashboard.TooManyRequestsError}
     * @throws {@link NizamDashboard.InternalServerError}
     * @throws {@link NizamDashboard.BadGatewayError}
     *
     * @example
     *     await client.paymentMethod.createPaymentMethodSession({
     *         "Idempotency-Key": "9f1e6d2a-7c3b-4e5f-8a91-0b2c3d4e5f60"
     *     })
     */
    public createPaymentMethodSession(
        request: NizamDashboard.CreatePaymentMethodSessionRequest = {},
        requestOptions?: PaymentMethodClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.PaymentMethodSetup> {
        return core.HttpResponsePromise.fromPromise(this.__createPaymentMethodSession(request, requestOptions));
    }

    private async __createPaymentMethodSession(
        request: NizamDashboard.CreatePaymentMethodSessionRequest = {},
        requestOptions?: PaymentMethodClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.PaymentMethodSetup>> {
        const { "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/billing/payment-method-sessions",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.PaymentMethodSetup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamDashboard.BadRequestError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamDashboard.ConflictError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamDashboard.TooManyRequestsError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 502:
                    throw new NizamDashboard.BadGatewayError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/billing/payment-method-sessions",
        );
    }
}
