// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamCustomer from "../../../index.js";

export declare namespace SharedConversationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SharedConversationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SharedConversationsClient.Options>;

    constructor(options: SharedConversationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a read-only, redacted view of a conversation shared with a public link. No authentication. Unknown, revoked, expired and workspace-scoped links all answer 404 identically — distinguishing them would tell a prober which tokens were once real.
     *
     * @param {NizamCustomer.GetSharedConversationRequest} request
     * @param {SharedConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamCustomer.UnauthorizedError}
     * @throws {@link NizamCustomer.NotFoundError}
     * @throws {@link NizamCustomer.TooManyRequestsError}
     * @throws {@link NizamCustomer.InternalServerError}
     *
     * @example
     *     await client.sharedConversations.getSharedConversation({
     *         token: "<string>"
     *     })
     */
    public getSharedConversation(
        request: NizamCustomer.GetSharedConversationRequest,
        requestOptions?: SharedConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamCustomer.SharedConversation> {
        return core.HttpResponsePromise.fromPromise(this.__getSharedConversation(request, requestOptions));
    }

    private async __getSharedConversation(
        request: NizamCustomer.GetSharedConversationRequest,
        requestOptions?: SharedConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamCustomer.SharedConversation>> {
        const { token } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamCustomerEnvironment.Production,
                `v1/shared/conversations/${core.url.encodePathParam(token)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamCustomer.SharedConversation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamCustomer.UnauthorizedError(
                        _response.error.body as NizamCustomer.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamCustomer.NotFoundError(
                        _response.error.body as NizamCustomer.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamCustomer.TooManyRequestsError(
                        _response.error.body as NizamCustomer.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamCustomer.InternalServerError(
                        _response.error.body as NizamCustomer.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamCustomerError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/shared/conversations/{token}",
        );
    }
}
