// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamCarrier from "../../../index.js";

export declare namespace IdentityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Users, organizations, and the active session.
 */
export class IdentityClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IdentityClient.Options>;

    constructor(options: IdentityClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the authenticated user merged with profile claims from their JWT.
     *
     * JIT-provisions a shadow row on the first call (so a brand-new Keycloak user can hit any
     * endpoint without an explicit signup step) and stamps `last_login_at` + increments
     * `login_count` on every subsequent call.
     *
     * The `roles` array combines realm roles (flat, e.g. `platform_admin`) with portal-scoped
     * client roles (prefixed, e.g. `dashboard:dispatcher`). The frontend usually drops the
     * portal prefix when rendering since it knows its own portal.
     *
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamCarrier.UnauthorizedError}
     * @throws {@link NizamCarrier.ForbiddenError}
     * @throws {@link NizamCarrier.ConflictError}
     * @throws {@link NizamCarrier.InternalServerError}
     *
     * @example
     *     await client.identity.me()
     */
    public me(requestOptions?: IdentityClient.RequestOptions): core.HttpResponsePromise<NizamCarrier.User> {
        return core.HttpResponsePromise.fromPromise(this.__me(requestOptions));
    }

    private async __me(
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamCarrier.User>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamCarrierEnvironment.Production,
                "v1/me",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamCarrier.User, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamCarrier.UnauthorizedError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamCarrier.ForbiddenError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamCarrier.ConflictError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamCarrier.InternalServerError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamCarrierError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/me");
    }
}
