// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamCarrier from "../../../index.js";

export declare namespace PricingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Public subscription pricing for the pricing page (no authentication).
 */
export class PricingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PricingClient.Options>;

    constructor(options: PricingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The active, visible subscription plans for the public pricing page, ordered for display. Anonymous: no authentication required.
     *
     * @param {PricingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamCarrier.UnauthorizedError}
     * @throws {@link NizamCarrier.TooManyRequestsError}
     * @throws {@link NizamCarrier.InternalServerError}
     *
     * @example
     *     await client.pricing.listPricing()
     */
    public listPricing(
        requestOptions?: PricingClient.RequestOptions,
    ): core.HttpResponsePromise<NizamCarrier.ListResponsePricingPlan> {
        return core.HttpResponsePromise.fromPromise(this.__listPricing(requestOptions));
    }

    private async __listPricing(
        requestOptions?: PricingClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamCarrier.ListResponsePricingPlan>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamCarrierEnvironment.Production,
                "v1/pricing",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamCarrier.ListResponsePricingPlan, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamCarrier.UnauthorizedError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamCarrier.TooManyRequestsError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamCarrier.InternalServerError(
                        _response.error.body as NizamCarrier.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamCarrierError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/pricing");
    }
}
