// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamOperatorRuntime from "../../../index.js";

export declare namespace NotificationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The authenticated user's notification inbox.
 */
export class NotificationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<NotificationsClient.Options>;

    constructor(options: NotificationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The caller's own notifications ordered by `created_at` descending (pass `sort=created_at` for ascending). `unread=true` restricts to unread; `since=` (RFC 3339) returns only items at/after the instant for incremental catch-up after a reconnect. Pagination is bidirectional (`starting_after` / `ending_before`); cursors are bound to the sort direction that minted them.
     *
     * @param {NizamOperatorRuntime.ListNotificationsRequest} request
     * @param {NotificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.BadRequestError}
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.ForbiddenError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.notifications.listNotifications({
     *         since: "2026-05-20T14:00:00Z",
     *         starting_after: "Y3Vyc29yX25leHRfMDFKNVE=",
     *         ending_before: "Y3Vyc29yX25leHRfMDFKNVE="
     *     })
     */
    public listNotifications(
        request: NizamOperatorRuntime.ListNotificationsRequest = {},
        requestOptions?: NotificationsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.ListResponseNotification> {
        return core.HttpResponsePromise.fromPromise(this.__listNotifications(request, requestOptions));
    }

    private async __listNotifications(
        request: NizamOperatorRuntime.ListNotificationsRequest = {},
        requestOptions?: NotificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.ListResponseNotification>> {
        const { unread, since, sort, limit, starting_after: startingAfter, ending_before: endingBefore } = request;
        const _queryParams: Record<string, unknown> = {
            unread,
            since: since != null ? since : undefined,
            sort,
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/notifications",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamOperatorRuntime.ListResponseNotification,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamOperatorRuntime.BadRequestError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamOperatorRuntime.ForbiddenError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/notifications");
    }

    /**
     * Flips every unread notification of the caller to read in one operation. Returns the number of notifications that were flipped (zero when the inbox was already clear).
     *
     * @param {NotificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.BadRequestError}
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.ForbiddenError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.notifications.markAllNotificationsRead()
     */
    public markAllNotificationsRead(
        requestOptions?: NotificationsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.NotificationsMarkedRead> {
        return core.HttpResponsePromise.fromPromise(this.__markAllNotificationsRead(requestOptions));
    }

    private async __markAllNotificationsRead(
        requestOptions?: NotificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.NotificationsMarkedRead>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/notifications/read_all",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamOperatorRuntime.NotificationsMarkedRead,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamOperatorRuntime.BadRequestError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamOperatorRuntime.ForbiddenError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/notifications/read_all");
    }

    /**
     * The unread badge count for the active organization. Excludes dismissed (soft-deleted) notifications.
     *
     * @param {NotificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.BadRequestError}
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.ForbiddenError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.notifications.getUnreadNotificationCount()
     */
    public getUnreadNotificationCount(
        requestOptions?: NotificationsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.NotificationUnreadCount> {
        return core.HttpResponsePromise.fromPromise(this.__getUnreadNotificationCount(requestOptions));
    }

    private async __getUnreadNotificationCount(
        requestOptions?: NotificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.NotificationUnreadCount>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/notifications/unread_count",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamOperatorRuntime.NotificationUnreadCount,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamOperatorRuntime.BadRequestError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamOperatorRuntime.ForbiddenError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/notifications/unread_count",
        );
    }

    /**
     * Flips a single notification to read. Idempotent — a second call is a no-op that preserves the original read timestamp. 404 if the notification is not the caller's.
     *
     * @param {NizamOperatorRuntime.MarkNotificationReadRequest} request
     * @param {NotificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.ForbiddenError}
     * @throws {@link NizamOperatorRuntime.NotFoundError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.notifications.markNotificationRead({
     *         id: "00000000-0000-0000-0000-000000000000"
     *     })
     */
    public markNotificationRead(
        request: NizamOperatorRuntime.MarkNotificationReadRequest,
        requestOptions?: NotificationsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.Notification> {
        return core.HttpResponsePromise.fromPromise(this.__markNotificationRead(request, requestOptions));
    }

    private async __markNotificationRead(
        request: NizamOperatorRuntime.MarkNotificationReadRequest,
        requestOptions?: NotificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.Notification>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                `v1/notifications/${core.url.encodePathParam(id)}/read`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamOperatorRuntime.Notification, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamOperatorRuntime.ForbiddenError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamOperatorRuntime.NotFoundError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/notifications/{id}/read");
    }
}
