// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamDashboard from "../../../index.js";

export declare namespace UsersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * User aggregate — current session (`/me`) and user-entity operations (invite, list, lifecycle, platform-staff admin).
 */
export class UsersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UsersClient.Options>;

    constructor(options: UsersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the authenticated user merged with profile claims from their JWT.
     *
     * JIT-provisions a shadow row on the first call (so a brand-new Keycloak user can hit any
     * endpoint without an explicit signup step) and stamps `last_login_at` + increments
     * `login_count` on every subsequent call.
     *
     * The `roles` array combines realm roles (flat, e.g. `platform_admin`) with portal-scoped
     * client roles (prefixed, e.g. `dashboard:dispatcher`). The frontend usually drops the
     * portal prefix when rendering since it knows its own portal.
     *
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.ConflictError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.users.me()
     */
    public me(requestOptions?: UsersClient.RequestOptions): core.HttpResponsePromise<NizamDashboard.User> {
        return core.HttpResponsePromise.fromPromise(this.__me(requestOptions));
    }

    private async __me(
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.User>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/me",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.User, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamDashboard.ConflictError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/me");
    }

    /**
     * Dashboard sees co-members of the caller's active organization (tenant-scoped via the organization_users join). Platform staff bypass RLS and see across tenants, and may sort by `deleted_at`. RFC 8288 Link header carries `first`, `prev`, `next` rels alongside the body's bidirectional cursors.
     *
     * @param {NizamDashboard.ListUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.BadRequestError}
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.users.listUsers({
     *         starting_after: "Y3Vyc29yX25leHRfMDFKNVE=",
     *         ending_before: "Y3Vyc29yX25leHRfMDFKNVE="
     *     })
     */
    public listUsers(
        request: NizamDashboard.ListUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.ListResponseUserResource> {
        return core.HttpResponsePromise.fromPromise(this.__listUsers(request, requestOptions));
    }

    private async __listUsers(
        request: NizamDashboard.ListUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.ListResponseUserResource>> {
        const { sort, limit, starting_after: startingAfter, ending_before: endingBefore } = request;
        const _queryParams: Record<string, unknown> = {
            sort,
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/users",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamDashboard.ListResponseUserResource,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamDashboard.BadRequestError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/users");
    }

    /**
     * Tenant-admin operation. Creates a placeholder User row that JIT provisioning replaces once the recipient completes Keycloak signup.
     *
     * @param {NizamDashboard.InviteUserRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.ConflictError}
     * @throws {@link NizamDashboard.UnprocessableEntityError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.users.inviteUser({
     *         email: "newhire@acme.example",
     *         name: "New Hire"
     *     })
     */
    public inviteUser(
        request: NizamDashboard.InviteUserRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.UserResource> {
        return core.HttpResponsePromise.fromPromise(this.__inviteUser(request, requestOptions));
    }

    private async __inviteUser(
        request: NizamDashboard.InviteUserRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.UserResource>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/users",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.UserResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamDashboard.ConflictError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamDashboard.UnprocessableEntityError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/users");
    }

    /**
     * Tenant-admin operation. Sets `deleted_at = NOW()`. Subsequent dashboard reads filter the row out; platform staff can still surface and act on it.
     *
     * @param {NizamDashboard.SoftDeleteUserRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.NotFoundError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.users.softDeleteUser({
     *         id: "00000000-0000-0000-0000-000000000000"
     *     })
     */
    public softDeleteUser(
        request: NizamDashboard.SoftDeleteUserRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__softDeleteUser(request, requestOptions));
    }

    private async __softDeleteUser(
        request: NizamDashboard.SoftDeleteUserRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                `v1/users/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamDashboard.NotFoundError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/users/{id}");
    }

    /**
     * Tenant-admin operation. Body has no `status` — lifecycle changes go through the platform-staff surface.
     *
     * @param {NizamDashboard.UserUpdateRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.NotFoundError}
     * @throws {@link NizamDashboard.ConflictError}
     * @throws {@link NizamDashboard.UnprocessableEntityError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.users.updateUser({
     *         id: "00000000-0000-0000-0000-000000000000",
     *         email: "renamed@acme.example",
     *         name: "Ali Issa"
     *     })
     */
    public updateUser(
        request: NizamDashboard.UserUpdateRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.UserResource> {
        return core.HttpResponsePromise.fromPromise(this.__updateUser(request, requestOptions));
    }

    private async __updateUser(
        request: NizamDashboard.UserUpdateRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.UserResource>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                `v1/users/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.UserResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamDashboard.NotFoundError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamDashboard.ConflictError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamDashboard.UnprocessableEntityError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/users/{id}");
    }
}
