// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamMerchant from "../../../index.js";

export declare namespace DevicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The authenticated user's registered push devices.
 */
export class DevicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DevicesClient.Options>;

    constructor(options: DevicesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The caller's live push-device registrations, most-recently-registered first. Tokens are omitted; they are delivery secrets.
     *
     * @param {DevicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamMerchant.UnauthorizedError}
     * @throws {@link NizamMerchant.ForbiddenError}
     * @throws {@link NizamMerchant.TooManyRequestsError}
     * @throws {@link NizamMerchant.InternalServerError}
     *
     * @example
     *     await client.devices.listDevices()
     */
    public listDevices(requestOptions?: DevicesClient.RequestOptions): core.HttpResponsePromise<NizamMerchant.Devices> {
        return core.HttpResponsePromise.fromPromise(this.__listDevices(requestOptions));
    }

    private async __listDevices(
        requestOptions?: DevicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamMerchant.Devices>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamMerchantEnvironment.Production,
                "v1/me/devices",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamMerchant.Devices, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamMerchant.UnauthorizedError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamMerchant.ForbiddenError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamMerchant.TooManyRequestsError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamMerchant.InternalServerError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamMerchantError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/me/devices");
    }

    /**
     * Registers the calling user's device for push delivery, or refreshes an existing registration of the same token. Idempotent on the (user, token) key: re-posting a token refreshes its row (reviving it if the user had logged out) instead of duplicating the delivery target. The token is a secret and is never echoed back.
     *
     * @param {NizamMerchant.RegisterDevice} request
     * @param {DevicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamMerchant.UnauthorizedError}
     * @throws {@link NizamMerchant.ForbiddenError}
     * @throws {@link NizamMerchant.ConflictError}
     * @throws {@link NizamMerchant.UnprocessableEntityError}
     * @throws {@link NizamMerchant.TooManyRequestsError}
     * @throws {@link NizamMerchant.InternalServerError}
     *
     * @example
     *     await client.devices.registerDevice({
     *         platform: "android",
     *         token: "fcm-Aa1Bb2Cc3\u2026"
     *     })
     */
    public registerDevice(
        request: NizamMerchant.RegisterDevice,
        requestOptions?: DevicesClient.RequestOptions,
    ): core.HttpResponsePromise<NizamMerchant.Device> {
        return core.HttpResponsePromise.fromPromise(this.__registerDevice(request, requestOptions));
    }

    private async __registerDevice(
        request: NizamMerchant.RegisterDevice,
        requestOptions?: DevicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamMerchant.Device>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamMerchantEnvironment.Production,
                "v1/me/devices",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamMerchant.Device, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamMerchant.UnauthorizedError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamMerchant.ForbiddenError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamMerchant.ConflictError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamMerchant.UnprocessableEntityError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamMerchant.TooManyRequestsError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamMerchant.InternalServerError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamMerchantError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/me/devices");
    }

    /**
     * Soft-deletes the caller's device so it stops receiving pushes (typically called on logout). Reversible: re-registering the same token revives the row.
     *
     * @param {NizamMerchant.DeregisterDeviceRequest} request
     * @param {DevicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamMerchant.UnauthorizedError}
     * @throws {@link NizamMerchant.ForbiddenError}
     * @throws {@link NizamMerchant.NotFoundError}
     * @throws {@link NizamMerchant.TooManyRequestsError}
     * @throws {@link NizamMerchant.InternalServerError}
     *
     * @example
     *     await client.devices.deregisterDevice({
     *         deviceId: "<string>"
     *     })
     */
    public deregisterDevice(
        request: NizamMerchant.DeregisterDeviceRequest,
        requestOptions?: DevicesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deregisterDevice(request, requestOptions));
    }

    private async __deregisterDevice(
        request: NizamMerchant.DeregisterDeviceRequest,
        requestOptions?: DevicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { deviceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamMerchantEnvironment.Production,
                `v1/me/devices/${core.url.encodePathParam(deviceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamMerchant.UnauthorizedError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamMerchant.ForbiddenError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamMerchant.NotFoundError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamMerchant.TooManyRequestsError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamMerchant.InternalServerError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamMerchantError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/me/devices/{deviceId}");
    }
}
