// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamOperatorRuntime from "../../../index.js";

export declare namespace InvitesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Org-admin invites and recipient acceptance.
 */
export class InvitesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InvitesClient.Options>;

    constructor(options: InvitesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Validates the token, links the calling user to the organization, and marks the invite accepted.
     *
     * @param {NizamOperatorRuntime.AcceptInviteRequest} request
     * @param {InvitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.ForbiddenError}
     * @throws {@link NizamOperatorRuntime.NotFoundError}
     * @throws {@link NizamOperatorRuntime.ConflictError}
     * @throws {@link NizamOperatorRuntime.GoneError}
     * @throws {@link NizamOperatorRuntime.UnprocessableEntityError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.invites.acceptInvite({
     *         token: "5f8d2c4e6a1b3d7f9c0e2a4b6d8c0e2a4b6d8c0e2a4b6d8c"
     *     })
     */
    public acceptInvite(
        request: NizamOperatorRuntime.AcceptInviteRequest,
        requestOptions?: InvitesClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.Invite> {
        return core.HttpResponsePromise.fromPromise(this.__acceptInvite(request, requestOptions));
    }

    private async __acceptInvite(
        request: NizamOperatorRuntime.AcceptInviteRequest,
        requestOptions?: InvitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.Invite>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/invites/accept",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamOperatorRuntime.Invite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamOperatorRuntime.ForbiddenError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamOperatorRuntime.NotFoundError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamOperatorRuntime.ConflictError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 410:
                    throw new NizamOperatorRuntime.GoneError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamOperatorRuntime.UnprocessableEntityError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/invites/accept");
    }
}
