// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamDashboard from "../../../index.js";

export declare namespace PositionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PositionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PositionsClient.Options>;

    constructor(options: PositionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Keyset-paginated track over a required [start, end) device-time window (max 31 days — the window drives partition pruning). Optionally narrowed to one operator.
     *
     * @param {NizamDashboard.ListPositionsRequest} request
     * @param {PositionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.BadRequestError}
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.TooManyRequestsError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.positions.listPositions({
     *         operator_id: "00000000-0000-0000-0000-000000000000",
     *         start: "2026-05-20T14:00:00Z",
     *         end: "2026-05-20T14:00:00Z",
     *         starting_after: "Y3Vyc29yX25leHRfMDFKNVE=",
     *         ending_before: "Y3Vyc29yX25leHRfMDFKNVE="
     *     })
     */
    public listPositions(
        request: NizamDashboard.ListPositionsRequest,
        requestOptions?: PositionsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.ListResponsePosition> {
        return core.HttpResponsePromise.fromPromise(this.__listPositions(request, requestOptions));
    }

    private async __listPositions(
        request: NizamDashboard.ListPositionsRequest,
        requestOptions?: PositionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.ListResponsePosition>> {
        const {
            operator_id: operatorId,
            start,
            end,
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
        } = request;
        const _queryParams: Record<string, unknown> = {
            operator_id: operatorId,
            start,
            end,
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/fleet/positions",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.ListResponsePosition, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamDashboard.BadRequestError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamDashboard.TooManyRequestsError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/fleet/positions");
    }

    /**
     * Live snapshot for initial map load and STOMP-reconnect reconciliation. Served from the Redis hot cache (positions fresher than ~60s); a cold cache falls back to the most recent recorded position per operator over the last 15 minutes. Unpaginated by design: the result is bounded by the fleet's currently-reporting operators.
     *
     * @param {PositionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.BadRequestError}
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.TooManyRequestsError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.positions.listCurrentPositions()
     */
    public listCurrentPositions(
        requestOptions?: PositionsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.ListResponseOperatorPosition> {
        return core.HttpResponsePromise.fromPromise(this.__listCurrentPositions(requestOptions));
    }

    private async __listCurrentPositions(
        requestOptions?: PositionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.ListResponseOperatorPosition>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/fleet/positions/current",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamDashboard.ListResponseOperatorPosition,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamDashboard.BadRequestError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamDashboard.TooManyRequestsError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/fleet/positions/current");
    }

    /**
     * Counts recorded positions per H3 hex cell (resolution 9 ≈ 150 m or 11 ≈ 24 m) inside a `bbox` viewport over a device-time window (default: the last 24 hours). Cells are returned as hex strings — H3 indexes exceed the JavaScript safe-integer range. Unpaginated: bounded by the viewport's cell cover (max 4096 cells).
     *
     * @param {NizamDashboard.GetPositionsHeatmapRequest} request
     * @param {PositionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.BadRequestError}
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.TooManyRequestsError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.positions.getPositionsHeatmap({
     *         bbox: "<string>",
     *         start: "2026-05-20T14:00:00Z",
     *         end: "2026-05-20T14:00:00Z"
     *     })
     */
    public getPositionsHeatmap(
        request: NizamDashboard.GetPositionsHeatmapRequest,
        requestOptions?: PositionsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.ListResponseHeatmapCell> {
        return core.HttpResponsePromise.fromPromise(this.__getPositionsHeatmap(request, requestOptions));
    }

    private async __getPositionsHeatmap(
        request: NizamDashboard.GetPositionsHeatmapRequest,
        requestOptions?: PositionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.ListResponseHeatmapCell>> {
        const { h3_res: h3Res, bbox, start, end } = request;
        const _queryParams: Record<string, unknown> = {
            h3_res: h3Res,
            bbox,
            start: start != null ? start : undefined,
            end: end != null ? end : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/fleet/positions/heatmap",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamDashboard.ListResponseHeatmapCell,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamDashboard.BadRequestError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamDashboard.TooManyRequestsError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/fleet/positions/heatmap");
    }
}
