// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamDashboard from "../../../index.js";

export declare namespace ToolCallsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ToolCallsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ToolCallsClient.Options>;

    constructor(options: ToolCallsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Allows the mutating tool call the assistant paused for. The tool executes immediately through the platform's authorization chain under your principal, and the response reports the outcome. Once every awaiting call of the conversation is decided, the turn's stream resumes — re-attach via `GET .../turns/active/stream`. A call that is no longer awaiting approval → 409 `tool_call.invalid_transition`.
     *
     * @param {NizamDashboard.ApproveToolCallRequest} request
     * @param {ToolCallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.NotFoundError}
     * @throws {@link NizamDashboard.ConflictError}
     * @throws {@link NizamDashboard.TooManyRequestsError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.toolCalls.approveToolCall({
     *         conversationId: "00000000-0000-0000-0000-000000000000",
     *         toolCallId: "00000000-0000-0000-0000-000000000000"
     *     })
     */
    public approveToolCall(
        request: NizamDashboard.ApproveToolCallRequest,
        requestOptions?: ToolCallsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.ToolCall> {
        return core.HttpResponsePromise.fromPromise(this.__approveToolCall(request, requestOptions));
    }

    private async __approveToolCall(
        request: NizamDashboard.ApproveToolCallRequest,
        requestOptions?: ToolCallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.ToolCall>> {
        const { conversationId, toolCallId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}/tool-calls/${core.url.encodePathParam(toolCallId)}/approve`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.ToolCall, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamDashboard.NotFoundError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamDashboard.ConflictError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamDashboard.TooManyRequestsError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/conversations/{conversationId}/tool-calls/{toolCallId}/approve",
        );
    }

    /**
     * Declines the mutating tool call the assistant paused for; the tool never runs and the model is told it was denied. The optional body records your rationale for the audit trail. Once every awaiting call of the conversation is decided, the turn's stream resumes — re-attach via `GET .../turns/active/stream`. A call that is no longer awaiting approval → 409 `tool_call.invalid_transition`.
     *
     * @param {NizamDashboard.RejectToolCallRequest} request
     * @param {ToolCallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.NotFoundError}
     * @throws {@link NizamDashboard.ConflictError}
     * @throws {@link NizamDashboard.UnprocessableEntityError}
     * @throws {@link NizamDashboard.TooManyRequestsError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.toolCalls.rejectToolCall({
     *         conversationId: "00000000-0000-0000-0000-000000000000",
     *         toolCallId: "00000000-0000-0000-0000-000000000000",
     *         reason: "not on production data"
     *     })
     */
    public rejectToolCall(
        request: NizamDashboard.RejectToolCallRequest,
        requestOptions?: ToolCallsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.ToolCall> {
        return core.HttpResponsePromise.fromPromise(this.__rejectToolCall(request, requestOptions));
    }

    private async __rejectToolCall(
        request: NizamDashboard.RejectToolCallRequest,
        requestOptions?: ToolCallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.ToolCall>> {
        const { conversationId, toolCallId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}/tool-calls/${core.url.encodePathParam(toolCallId)}/reject`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.ToolCall, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamDashboard.NotFoundError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 409:
                    throw new NizamDashboard.ConflictError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamDashboard.UnprocessableEntityError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamDashboard.TooManyRequestsError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/conversations/{conversationId}/tool-calls/{toolCallId}/reject",
        );
    }
}
