// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamDashboard from "../../../index.js";

export declare namespace ActivityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Organization activity feed — the append-only timeline of what happened, and the durable source of truth behind realtime dashboard updates.
 */
export class ActivityClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ActivityClient.Options>;

    constructor(options: ActivityClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Newest-first feed of audited events for the caller's active organization (dashboard; tenant-scoped). Platform staff see across tenants. This is the durable, REST source of truth behind the realtime `/topic/organization.<id>.activity` STOMP stream: on reconnect, a client passes `since=<last_seen>` to catch up missed items, then resumes realtime. Each item's `event_id` correlates with the realtime ActivityFeedItem's `id` for deduplication. Sortable: `created_at` (default `-created_at`). Bidirectional opaque cursors via `starting_after` / `ending_before`.
     *
     * @param {NizamDashboard.ListActivityRequest} request
     * @param {ActivityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.BadRequestError}
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.activity.listActivity({
     *         since: "2026-05-20T14:00:00Z",
     *         starting_after: "Y3Vyc29yX25leHRfMDFKNVE=",
     *         ending_before: "Y3Vyc29yX25leHRfMDFKNVE="
     *     })
     */
    public listActivity(
        request: NizamDashboard.ListActivityRequest = {},
        requestOptions?: ActivityClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.ListResponseActivityResource> {
        return core.HttpResponsePromise.fromPromise(this.__listActivity(request, requestOptions));
    }

    private async __listActivity(
        request: NizamDashboard.ListActivityRequest = {},
        requestOptions?: ActivityClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.ListResponseActivityResource>> {
        const { since, sort, limit, starting_after: startingAfter, ending_before: endingBefore } = request;
        const _queryParams: Record<string, unknown> = {
            since: since != null ? since : undefined,
            sort,
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/activity",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamDashboard.ListResponseActivityResource,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamDashboard.BadRequestError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/activity");
    }
}
