// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamMerchant from "../../../index.js";

export declare namespace RealtimeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Realtime (STOMP/WebSocket) session bootstrap: mint a ticket to open a connection.
 */
export class RealtimeClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RealtimeClient.Options>;

    constructor(options: RealtimeClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a short-lived ticket to present as `Authorization: Bearer <ticket>` on the STOMP CONNECT frame to `/ws`. Browser clients need this because their Keycloak access token lives in an HTTP-only cookie that JavaScript cannot read; native/mobile clients holding a Keycloak access token may present it directly on CONNECT and skip this call. Mint a fresh ticket per connection attempt; it expires within seconds.
     *
     * @param {RealtimeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamMerchant.UnauthorizedError}
     * @throws {@link NizamMerchant.ForbiddenError}
     * @throws {@link NizamMerchant.TooManyRequestsError}
     * @throws {@link NizamMerchant.InternalServerError}
     *
     * @example
     *     await client.realtime.createRealtimeTicket()
     */
    public createRealtimeTicket(
        requestOptions?: RealtimeClient.RequestOptions,
    ): core.HttpResponsePromise<NizamMerchant.RealtimeTicket> {
        return core.HttpResponsePromise.fromPromise(this.__createRealtimeTicket(requestOptions));
    }

    private async __createRealtimeTicket(
        requestOptions?: RealtimeClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamMerchant.RealtimeTicket>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamMerchantEnvironment.Production,
                "v1/realtime/tickets",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamMerchant.RealtimeTicket, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamMerchant.UnauthorizedError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamMerchant.ForbiddenError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamMerchant.TooManyRequestsError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamMerchant.InternalServerError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamMerchantError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/realtime/tickets");
    }
}
