// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamDashboard from "../../../index.js";

export declare namespace ActiveOrganizationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Get and set the caller's preferred active organization — server-side cross-session memory of the picker choice (#65).
 */
export class ActiveOrganizationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ActiveOrganizationClient.Options>;

    constructor(options: ActiveOrganizationClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the active organization the request was actually scoped to, the caller's stored
     * preference, and the full memberships list. SPA bootstrap uses this to decide post-login
     * routing without making three separate calls.
     *
     * The returned `active_organization_id` mirrors the principal's already-resolved scope —
     * the value the active-org enricher pinned on this request, after consulting the
     * X-Nizam-Organization header (if any), the stored preference, and the active memberships.
     *
     * @param {ActiveOrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.activeOrganization.getActiveOrganization()
     */
    public getActiveOrganization(
        requestOptions?: ActiveOrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.ActiveOrganization> {
        return core.HttpResponsePromise.fromPromise(this.__getActiveOrganization(requestOptions));
    }

    private async __getActiveOrganization(
        requestOptions?: ActiveOrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.ActiveOrganization>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/me/active-organization",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.ActiveOrganization, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/me/active-organization");
    }

    /**
     * Persists the caller's "remembered active org" preference. The slug must name an
     * organization the caller is currently an active member of — otherwise the call fails
     * with `403 tenant.not_a_member` (same code the X-Nizam-Organization header path uses),
     * never silently writes the preference for an inaccessible org.
     *
     * On success, returns the new bundled state in one round-trip. The cached
     * membership context for the caller is invalidated so the next request sees the new
     * preference immediately.
     *
     * @param {NizamDashboard.SetActiveOrganizationRequest} request
     * @param {ActiveOrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamDashboard.UnauthorizedError}
     * @throws {@link NizamDashboard.ForbiddenError}
     * @throws {@link NizamDashboard.UnprocessableEntityError}
     * @throws {@link NizamDashboard.InternalServerError}
     *
     * @example
     *     await client.activeOrganization.setActiveOrganization({
     *         slug: "acme-logistics"
     *     })
     *
     * @example
     *     await client.activeOrganization.setActiveOrganization({
     *         slug: "globex-freight"
     *     })
     */
    public setActiveOrganization(
        request: NizamDashboard.SetActiveOrganizationRequest,
        requestOptions?: ActiveOrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<NizamDashboard.ActiveOrganization> {
        return core.HttpResponsePromise.fromPromise(this.__setActiveOrganization(request, requestOptions));
    }

    private async __setActiveOrganization(
        request: NizamDashboard.SetActiveOrganizationRequest,
        requestOptions?: ActiveOrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamDashboard.ActiveOrganization>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamDashboardEnvironment.Production,
                "v1/me/active-organization",
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamDashboard.ActiveOrganization, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamDashboard.UnauthorizedError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamDashboard.ForbiddenError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamDashboard.UnprocessableEntityError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamDashboard.InternalServerError(
                        _response.error.body as NizamDashboard.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamDashboardError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/me/active-organization");
    }
}
