// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamOperatorRuntime from "../../../index.js";

export declare namespace MachineCredentialsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Certificate enrolment, renewal and trust distribution for autonomous operators.
 */
export class MachineCredentialsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MachineCredentialsClient.Options>;

    constructor(options: MachineCredentialsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The PEM trust chain, issuer-first, that verifies certificates this platform issues — the EST `/cacerts` answer. A device installs it before enrolling, so it can verify the platform rather than trusting whatever the network hands it.
     *
     * Public material by design: a CA certificate is precisely the thing everyone is meant to have. 503 `workload.authority_unavailable` when the deployment has no authority configured.
     *
     * @param {MachineCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.machineCredentials.getCertificateAuthorityChain()
     */
    public getCertificateAuthorityChain(
        requestOptions?: MachineCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.CertificateChain> {
        return core.HttpResponsePromise.fromPromise(this.__getCertificateAuthorityChain(requestOptions));
    }

    private async __getCertificateAuthorityChain(
        requestOptions?: MachineCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.CertificateChain>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/pki/ca",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamOperatorRuntime.CertificateChain,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/pki/ca");
    }

    /**
     * The signed, DER-encoded CRL naming every revoked certificate that has not yet expired on its own (RFC 5280 §5 permits dropping the rest, which is what keeps the list bounded by the certificate lifetime rather than growing forever). This is the URL Keycloak's X.509 authenticator polls.
     *
     * An empty list is a normal, successful answer and means nothing is revoked. It is materially different from a failure to fetch, which Keycloak treats as a reason to refuse machine authentication outright — which is also why this endpoint requires no credential: a revocation list that needed one could not be read by the thing deciding whether credentials are valid.
     *
     * `Cache-Control` is deliberately much shorter than the list's own `nextUpdate`. The former bounds how long an intermediary may serve a copy; the latter is the fail-closed staleness deadline that decides how long an outage may last before every machine is locked out.
     *
     * @param {MachineCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     * @throws {@link NizamOperatorRuntime.ServiceUnavailableError}
     *
     * @example
     *     await client.machineCredentials.getRevocationList()
     */
    public getRevocationList(requestOptions?: MachineCredentialsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__getRevocationList(requestOptions));
    }

    private async __getRevocationList(
        requestOptions?: MachineCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/pki/crl",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 503:
                    throw new NizamOperatorRuntime.ServiceUnavailableError(
                        _response.error.body as string,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/pki/crl");
    }

    /**
     * The machine's FIRST credential. The device generates a keypair, keeps the private key, and sends a PKCS#10 signing request together with the single-use voucher it was commissioned with. The EST `/simpleenroll` step.
     *
     * The certificate's subject is fixed by the voucher, not by the request: nothing a caller sends influences which identity is certified, so a stolen voucher enrols the one machine it was minted for.
     *
     * **The response is not repeatable.** The voucher is consumed on success and the platform does not store the certificate, so a device that loses this response needs a fresh voucher rather than a retry. Errors: 404 `workload.enrolment_not_found` (unknown or malformed token — never distinguished, so the endpoint cannot be used to probe which vouchers exist), 409 `workload.enrolment_already_redeemed` (someone enrolled with this voucher already — treat as an incident), 410 `workload.enrolment_expired` / `workload.enrolment_revoked`, 400 `workload.invalid_signing_request`, 409 `workload.key_already_certified`, 503 `workload.authority_unavailable`.
     *
     * @param {NizamOperatorRuntime.EnrolWorkloadRequest} request
     * @param {MachineCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.UnprocessableEntityError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.machineCredentials.enrolWorkload({
     *         token: "kZ7q2vY8sN1pR4tW6xA0bC3dE5fG7hJ9kL1mN3oP5qR",
     *         csr: "-----BEGIN CERTIFICATE REQUEST-----\nMIIBHTCBxAIBADBiMQswCQYDVQQGEwJVUzE...\n-----END CERTIFICATE REQUEST-----"
     *     })
     */
    public enrolWorkload(
        request: NizamOperatorRuntime.EnrolWorkloadRequest,
        requestOptions?: MachineCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.WorkloadCredential> {
        return core.HttpResponsePromise.fromPromise(this.__enrolWorkload(request, requestOptions));
    }

    private async __enrolWorkload(
        request: NizamOperatorRuntime.EnrolWorkloadRequest,
        requestOptions?: MachineCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.WorkloadCredential>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/pki/enrolments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamOperatorRuntime.WorkloadCredential,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamOperatorRuntime.UnprocessableEntityError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/pki/enrolments");
    }

    /**
     * Issues a fresh certificate to a device that presented a currently-valid one over mTLS — the EST `/simplereenroll` step. The presented certificate identifies the caller; the body carries only the new signing request.
     *
     * The key MUST be newly generated. Re-certifying an existing key would let one compromise survive every rotation, so it is refused with 409 `workload.key_already_certified`.
     *
     * The previous certificate is deliberately left VALID until it expires on its own. Overlapping validity is what stops a rotation that fails halfway from stranding a vehicle; the short lifetime, not a supersession sweep, is what bounds how long an old key stays useful.
     *
     * 401 `workload.renewal_not_permitted` covers every reason the presented certificate is unacceptable — absent, unknown, revoked, expired, or not byte-identical to one this platform issued. They are not distinguished, so the endpoint cannot be used to probe which serials exist.
     *
     * @param {NizamOperatorRuntime.RenewWorkloadRequest} request
     * @param {MachineCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamOperatorRuntime.UnauthorizedError}
     * @throws {@link NizamOperatorRuntime.UnprocessableEntityError}
     * @throws {@link NizamOperatorRuntime.TooManyRequestsError}
     * @throws {@link NizamOperatorRuntime.InternalServerError}
     *
     * @example
     *     await client.machineCredentials.renewWorkloadCredential({
     *         csr: "-----BEGIN CERTIFICATE REQUEST-----\nMIIBHTCBxAIBADBiMQswCQYDVQQGEwJVUzE...\n-----END CERTIFICATE REQUEST-----"
     *     })
     */
    public renewWorkloadCredential(
        request: NizamOperatorRuntime.RenewWorkloadRequest,
        requestOptions?: MachineCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamOperatorRuntime.WorkloadCredential> {
        return core.HttpResponsePromise.fromPromise(this.__renewWorkloadCredential(request, requestOptions));
    }

    private async __renewWorkloadCredential(
        request: NizamOperatorRuntime.RenewWorkloadRequest,
        requestOptions?: MachineCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamOperatorRuntime.WorkloadCredential>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamOperatorRuntimeEnvironment.Production,
                "v1/pki/renewals",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as NizamOperatorRuntime.WorkloadCredential,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new NizamOperatorRuntime.UnauthorizedError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 422:
                    throw new NizamOperatorRuntime.UnprocessableEntityError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamOperatorRuntime.TooManyRequestsError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamOperatorRuntime.InternalServerError(
                        _response.error.body as NizamOperatorRuntime.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamOperatorRuntimeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/pki/renewals");
    }
}
