// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as NizamMerchant from "../../../index.js";

export declare namespace TaskAttemptsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TaskAttemptsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TaskAttemptsClient.Options>;

    constructor(options: TaskAttemptsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The attempt's photos in capture order, each with its scan-gated downloadability and rendered thumbnail variants. Bytes are requested per file via the generic download-URL endpoint (access-logged for this kind).
     *
     * @param {NizamMerchant.ListTaskAttemptPhotosRequest} request
     * @param {TaskAttemptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link NizamMerchant.BadRequestError}
     * @throws {@link NizamMerchant.UnauthorizedError}
     * @throws {@link NizamMerchant.ForbiddenError}
     * @throws {@link NizamMerchant.NotFoundError}
     * @throws {@link NizamMerchant.TooManyRequestsError}
     * @throws {@link NizamMerchant.InternalServerError}
     *
     * @example
     *     await client.taskAttempts.listTaskAttemptPhotos({
     *         attemptId: "00000000-0000-0000-0000-000000000000",
     *         starting_after: "Y3Vyc29yX25leHRfMDFKNVE=",
     *         ending_before: "Y3Vyc29yX25leHRfMDFKNVE="
     *     })
     */
    public listTaskAttemptPhotos(
        request: NizamMerchant.ListTaskAttemptPhotosRequest,
        requestOptions?: TaskAttemptsClient.RequestOptions,
    ): core.HttpResponsePromise<NizamMerchant.TaskAttemptPhoto> {
        return core.HttpResponsePromise.fromPromise(this.__listTaskAttemptPhotos(request, requestOptions));
    }

    private async __listTaskAttemptPhotos(
        request: NizamMerchant.ListTaskAttemptPhotosRequest,
        requestOptions?: TaskAttemptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<NizamMerchant.TaskAttemptPhoto>> {
        const { attemptId, limit, starting_after: startingAfter, ending_before: endingBefore } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NizamMerchantEnvironment.Production,
                `v1/task-attempts/${core.url.encodePathParam(attemptId)}/photos`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as NizamMerchant.TaskAttemptPhoto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new NizamMerchant.BadRequestError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 401:
                    throw new NizamMerchant.UnauthorizedError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 403:
                    throw new NizamMerchant.ForbiddenError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 404:
                    throw new NizamMerchant.NotFoundError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 429:
                    throw new NizamMerchant.TooManyRequestsError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                case 500:
                    throw new NizamMerchant.InternalServerError(
                        _response.error.body as NizamMerchant.ProblemDetail,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.NizamMerchantError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/task-attempts/{attemptId}/photos",
        );
    }
}
